a.nav {
    display: block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    text-decoration:none; 
}

a.nav:hover {
    color: #000;
    background-color: #CCE6FF;
}