<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        @RenderBody()
        @RenderSection("scripts", false)
        @*<script type="text/javascript">
            if (localStorage.getItem("DebugMode") == "true") {
                localStorage.setItem("DebugMode", false);
            }
        </script>*@
    </body>
</html>
