@{
    Layout = "~/Views/Shared/_SubPage4Debug.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/Controllers/Areas/SystemSettings/AccountManage/Index.js"></script>
}
@Html.TagHiddenActionUrl(new TagParams("M0201P0101") { TagId = "AccountManage_Index_GetAccountInfo" })
<table id='AccountManage_Index_grid'></table>
