@model EasyAccess.Model.DTOs.LoginUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.UserName);
            <br />
            @Html.PasswordFor(x => x.Password);
            <br />
            <input type="submit" value="Login" />
        }
    </body>
</html>
